main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
  text-align: center;
}

h1{
  color: #F55A00;
  font-size: 1.8rem;
  padding: 0.1rem;
  text-align: center;
}

h2{
  text-align: center;
  color: #F55A00;
  font-size: 1.4rem;
  padding: 0.5rem
}
p{
  text-align: center;
}

.favImage{
  width: 50%;
}

.rating span {
  margin: 0.1rem;
}
.linkEmail{
  color: black;
}

.overlay-div{
  height: 90%;
  width: 100%;
  position: relative;
  background-color:#2B2B2B;
  opacity:.9;
  border-radius:8px !important;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h1 {
  color:#F55A00;
}

.carousel img {
  height: 200px;
  padding: 45px;
  margin: 50px;
  /* border-radius: 50%; */
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
